<header class="header_area" [ngClass]="getClass()">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" [routerLink]="['/']"><img style="width: 143px;" src="img/logo-blog.png"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center">
                        <li class="nav-item active"><a class="nav-link" [routerLink]="['/']">Home</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/posts/user']"
                                [queryParams]="{ authorId: userId}">My Posts</a>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Popular Categories</a>
                            <ul class="dropdown-menu">
                                <ng-container *ngIf="categoryCountPosts$ | async as categories">
                                    <!-- <li *ngFor="let cate of categories" class="nav-item"><a class="nav-link"
                                            [routerLink]="['/admin/categories']">{{cate.name}}</a></li> -->
                                    <li *ngFor="let cate of categories" class="nav-item">
                                        <a [routerLink]="['/category']" [queryParams]="{ categoryId: cate.cateId}"
                                            class="d-flex justify-content-between nav-link">
                                            <p class="m-0">{{cate.name}}</p>
                                            <p class="m-0">({{cate.countPosts}})</p>
                                        </a>
                                    </li>
                                </ng-container>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
                        <ng-container
                            *ngIf="user !== undefined && (user?.roles?.includes('Admin') || user?.roles?.includes('Writer'))">
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Admin</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['/admin/categories']">Manage
                                            Categories</a></li>
                                    <li class="nav-item"><a class="nav-link" [routerLink]="['/admin/blogposts']">Manage
                                            Posts</a></li>
                                </ul>
                            </li>

                        </ng-container>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-social">
                        <ng-container *ngIf="user === undefined;else showLogout">
                            <div class="dropdown">
                                <a class="dropdown-toggle" [routerLink]="['/account/login']">
                                    <i class="fas fa-user"></i> Login
                                </a>
                            </div>
                        </ng-container>
                        <ng-template #showLogout>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fas fa-user"></i> {{user?.email}}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" style="cursor: pointer;"
                                            [routerLink]="['/user/profile', userId]"><i class="fas fa-user"></i>
                                            Profile</a></li>
                                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="onLogout()"><i
                                                class="fas fa-sign-out-alt"></i> Logout</a></li>
                                </ul>
                            </div>
                        </ng-template>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>