.category-search{
    font-size: 14px;
    padding: 12px 18px;
}
.category-search:focus{
    box-shadow: none;
}
.search-icon{
    cursor: pointer;
}
.search-item{
    font-size: 14px;
    color: #797979;
}
.search-item:hover{
    background-color: #f5f5f5;
}
.post-category-widget{
    position: relative;
}
.list-suggestions {
    position: absolute;
    top: 22%; 
    left: 0;
    right: 0;
    z-index: 1000; 
    background-color: white;
    border: 1px solid #ddd; 
    max-height: 200px; 
    overflow-y: auto; 
}
  