<div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="card p-4 pt-5 shadow"
        style="width: 100%; max-width: 400px; background-color: rgba(255, 255, 255, 0.9);">
        <h2 class="text-center mb-4 fs-2">Forgot password</h2>
        <p class="text-center">Enter your email to receive link reset password</p>
        <form class="mb-2" #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <input required type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email"
                        placeholder="Enter your email" aria-label="Email" aria-describedby="addon-wrapping"
                        #email="ngModel">
                </div>
                <div *ngIf="email.invalid && email.touched" class="text-danger">
                    <span class="login-error" *ngIf="email.errors?.['required']">Email is required.</span>
                    <span class="login-error" *ngIf="email.errors?.['email']">Please enter a valid email address.</span>
                </div>
            </div>
            <div *ngIf="forgotMessage" class="text-danger">
                <span class="login-error">{{forgotMessage}}</span>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn w-100 text-light" style="background-color: #07a151; border: none;"
                    [disabled]="form.invalid">Send
                </button>

            </div>
        </form>
        <div class="text-center mt-2">
            <span>Back to <a [routerLink]="['/account/login']" routerLinkActive="router-link-active">Log in</a></span>
        </div>
    </div>
</div>